# Virtual environment
.venv/

# Byte-code files
*.pyc
__pycache__/

# IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Database files (if using SQLite or similar local databases)
*.db

# Log files
*.log

# Environment variables
.env
.env.*

.code-workspace